:host {
    display: block;
    width: 100%;
}

.scroll-container {
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
}

.table {
    min-width: 1200px; /* Ensures table is wide enough for all columns */
}

.title-center {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem; /* Adjust the font size as needed */
}